@font-face {
    font-family: 'BenSenHandwriting';
    src: url('BenSenHandwriting.ttf') format('ttf'),
        url('BenSenHandwriting.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
